# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345678
POSTGRES_DB=quickbitedb
POSTGRES_PORT=5432

# User Service Configuration
USER_SERVICE_PORT=8084
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/quickbitedb
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=12345678
